@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

h2 {
    text-align: center;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
    width: 500px;
    height: 23px;
    font-family: Oxygen;
}

th {
    padding: 3px;
    text-align: left;
    width: 60%;
}

td {
    padding: 3px;
    text-align: left;
    width: 40%;
}

.orange {
    background: #fea500;
    color: white;
}

.blue {
    background: #4f4fff;
    color: white;
}

.green {
    background: #16c03b;
    color: white;
}